<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>我的Blog</title>
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="blog-container">
    <div class="blog-left" id="blog-left">
      <div class="header">
        <h5>文章列表</h5>
        <a class="home" href="http://huyu.nuobel.com">首页</a>
      </div>
    </div>
    <div class="blog-content">
      [BLOG_CONTENT]
    </div>
    <div class="blog-right" id="blog-right">
      <div class="header">
        <h5>内容标题列表</h5>
      </div>
    </div>
  </div>
</body>
<script>

  // 左侧列表活跃key
  var ACTIVE_KEY = [BLOG_ACTIVE_KEY]
  // 左侧博客列表
  var BLOG_LIST = [BLOG_LIST]
  // 右侧标题列表
  var TITLE_LIST = [BLOG_TITLE]

</script>
<script src="index.js"></script>

</html>