<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板开发系统</title>
    <style>
        .root {
            height: 100%;
        }
    </style>
<link href="style.14f7.css" rel="stylesheet"></head>

<body>
    <noscript>请开启您的浏览器javascript功能</noscript>
    <div id="root"></div>
    <script>

        // 左侧列表活跃key
        var ACTIVE_KEY = [BLOG_ACTIVE_KEY]
        // 左侧博客列表
        var BLOG_LIST = [BLOG_LIST]
        // 右侧标题列表
        var TITLE_LIST = [BLOG_TITLE]
        // 内容
        var BLOG_CONTENT = [BLOG_CONTENT]

        // //活跃key
        // var ACTIVE_KEY = 'git/git基础--打标签2'

        // //博客列表
        // var BLOG_LIST = [
        //     {
        //         name: 'git',
        //         children: [
        //             {
        //                 name: 'git基础--打标签',
        //                 url: 'git/git基础--打标签'
        //             },
        //             {
        //                 name: 'git基础--打标签2',
        //                 url: 'git/git基础--打标签2'
        //             },
        //             {
        //                 name: 'git基础--打标签3',
        //                 url: 'git/git基础--打标签3'
        //             },
        //             {
        //                 name: 'git基础--打标签4',
        //                 url: 'git/git基础--打标签4'
        //             },
        //         ],
        //     },
        //     {
        //         name: 'git基础--打标签3',
        //         url: 'git基础--打标签3'
        //     },
        // ]

        // //标题列表
        // var TITLE_LIST = [
        //     {
        //         name: 'git',
        //         url: 'git',
        //         children: [
        //             {
        //                 name: 'git基础--打标签',
        //                 url: 'git基础--打标签'
        //             },
        //             {
        //                 name: 'git基础--打标签2',
        //                 url: 'git基础--打标签2'
        //             },
        //         ],
        //     },
        //     {
        //         name: 'git基础--打标签3',
        //         url: 'git基础--打标签3'
        //     },
        // ]

        // // 内容
        // var BLOG_CONTENT = '<div><h2>我是内容</h2></div>'
    </script>

<script type="text/javascript" src="client.14f7.js"></script></body>

</html>